<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_I/blob/main/Desmatamento_%C3%81reas_Indigenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/IDP/Dataset/terrabrasilis_legal_amazon_1_11_2021_1638405170860.csv', sep=';')

In [ ]:
df

      year area km²                             indi
0     2021     0,70            Kanamari do Rio Juruá
1     2021     2,18                     Andirá-Marau
2     2021     0,00      Apurinã do Igarapé São João
3     2021     0,43                         Pinatuba
4     2021     0,21                        Mãe Maria
...    ...      ...                              ...
2523  2008     0,09       Jarawara/Jamamadi/Kanamati
2524  2008     1,34                        Rio Urubu
2525  2008     1,21                  Vale do Guaporé
2526  2008     2,80  Porquinhos dos Canela-Apãnjekra
2527  2008     0,08                       Trincheira

[2528 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      2528 non-null   int64
 1   area km²  2528 non-null   object
 2   indi      2528 non-null   object
dtypes: int64(1), object(2)
memory usage: 59.4+ KB

In [ ]:
df.groupby(by=['indi', 'year']).sum().head(10)

                       area km²
indi            year
Acapuri de Cima 2010       0,23
Acimã           2016       0,12
                2020       0,08
Alto Rio Guamá  2008       5,73
                2009  0,0041,14
                2010       5,90
                2011  0,0118,62
                2012       1,43
                2013       1,52
                2014   0,016,63

In [ ]:
df.rename(columns={'area km²': 'area'}, inplace=True)

In [ ]:
df

      year  area                             indi
0     2021  0,70            Kanamari do Rio Juruá
1     2021  2,18                     Andirá-Marau
2     2021  0,00      Apurinã do Igarapé São João
3     2021  0,43                         Pinatuba
4     2021  0,21                        Mãe Maria
...    ...   ...                              ...
2523  2008  0,09       Jarawara/Jamamadi/Kanamati
2524  2008  1,34                        Rio Urubu
2525  2008  1,21                  Vale do Guaporé
2526  2008  2,80  Porquinhos dos Canela-Apãnjekra
2527  2008  0,08                       Trincheira

[2528 rows x 3 columns]

In [ ]:
df['area'] = df['area'].apply(lambda x: x.replace(',','.'))

In [ ]:
df['area'] = df['area'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2528 non-null   int64
 1   area    2528 non-null   float64
 2   indi    2528 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 59.4+ KB

In [ ]:
df.groupby(by=['indi', 'year']).sum().head(50)

In [ ]:
terras_indigenas = df.indi.unique()

In [ ]:
len(terras_indigenas)

315

In [ ]:
terras_indigenas

array(['Kanamari do Rio Juruá', 'Andirá-Marau',
       'Apurinã do Igarapé São João', 'Pinatuba', 'Mãe Maria', 'Tumiã',
       'Apurinã Igarapé Tauamirim', 'Xikrin do Rio Catete', 'Manoki',
       'Munduruku', 'Sete de Setembro', 'Lago do Limão',
       'Piripkura ( restrição de uso )', 'Trombetas/Mapuera', 'Panará',
       'Bacurizinho', 'Alto Sepatini', 'Apinayé',
       'Jacareúba/Katauixi (restrição uso)', 'Coata-Laranjal',
       'Roosevelt', 'Paquiçamba', 'Mawetek', 'Paumari do Lago Marahã',
       'Malacacheta', 'Kayabi', 'Apurinã Km 124 BR-317', 'Koatinemo',
       'Geralda Toco Preto', 'Karipuna', 'Rio Mequens', 'Igarapé Lage',
       'WaiWái', 'Ponciano', 'Água Preta/Inari', 'Karitiana',
       'Murutinga/Tracaja', 'Igarapé Lourdes', 'Arara', 'Camicua',
       'Cachoeira Seca', 'Parakanã', 'Munduruku-Taquara', 'Enawenê-Nawê',
       'Arara do Rio Branco', 'Tenharim do Igarapé Preto',
       'Kawahiva do Rio Pardo', 'Alto Rio Purus', 'Parque do Xingu',
       'Arariboia', 'São Pedro', 'Caititu', 'Terena Gleba Iriri',
       'Apiaka/Kayabi', 'Ituna/Itatá (restrição de uso)',
       'Peneri/Tacaquiri', 'Umutina', 'Zuruahã', 'Paracuhuba', 'Aripuanã',
       'Jaminaua/Envira', 'Igarapé do Caucho', 'Sawré Muybu (Pimental)',
       'Mamoadate', 'Wedezé', 'Trocará', 'Maraiwatsede',
       'Kaxinawá da Praia do Carapanã', 'Apyterewa',
       'Arara do Rio Amônia', 'Alto Turiaçu', 'Cabeceira do Rio Acre',
       'Kwazá do Rio São Pedro', 'Menkragnoti', 'Erikpatsá',
       'Barreirinha', 'Pirititi', 'Kaxinawá do Rio Humaitá', 'Gavião',
       'Krikati', 'Tenharim Marmelos (Gleba B)', 'Vista Alegre',
       'Escondido', 'Tubarão Latunde', 'Kaxarari', 'Cuia', 'Rio Branco',
       'Trincheira Bacaja', 'Trincheira', 'Serra Morena',
       'Tenharim Marmelos', 'Kampa do Rio Amônia',
       'Kaxinawá do Baixo Rio Jordão', 'Poyanawa',
       'Kaxinawá Seringal Independência', 'Riozinho do Alto Envira',
       'Apurinã do Igarapé Mucuim', 'Kanela Memortumré',
       'Kaxinawá do Rio Jordão', 'Kulina Igarapé do Pau', 'Boca do Acre',
       'Arara da Volta Grande do Xingu', 'Kayapó', 'Campinas/Katukina',
       'Sororó', 'Sepoti', 'Zoró', 'Jaminawa do Igarapé Preto',
       'Alto Rio Guamá', 'Canauanim', 'Kanela', 'Rio Guaporé',
       'Rio Gregório', 'Kaxinawá Nova Olinda', 'Tabalascada', 'Menkü',
       'Badjonkore', 'Deni', 'Xipaya', 'Ipixuna', 'Cana Brava/Guajajara',
       'Baú', 'Katukina/Kaxinawá', 'Capoto/Jarina',
       'Kulina do Medio Jurua', 'Sai-Cinza', 'Waimiri-Atroari', 'Sarauá',
       'Apiaká do Pontal e Isolados', 'Araweté Igarapé Ipixuna',
       'Igarapé Ribeirão', 'Cunhã-Sapucaia', 'Vale do Javari',
       'Uru-Eu-Wau-Wau', 'Anambé', 'Parque do Aripuanã', 'Batovi',
       'Nambikwara', 'Inauini/Teuini', 'Pirahã', 'Cacau do Tarauaca',
       'Sissaíma', 'Kuruáya', 'Urubu Branco', 'Nove de Janeiro',
       'Jacamim', 'Barata Livramento', 'Jarawara/Jamamadi/Kanamati',
       'Rio Urubu', 'Vale do Guaporé', 'Porquinhos dos Canela-Apãnjekra',
       'Jauary', 'Alto Rio Negro', 'Médio Rio Negro II',
       'Nova Esperança do Rio Jandiatuba', 'Moskow', 'Évare II', 'Awa',
       'Taego Ãwa', 'São Domingos do Jacapari e Estação', 'Cuiu-Cuiu',
       'Estrela da Paz', 'Nukini', 'Juma', 'Wawi', 'Utiariti', 'Yanomami',
       'Évare I', 'Cué Cué/ Marabitanas', 'Waiãpi', 'Rio Negro Ocaia',
       'Riozinho', 'Sagarana', 'Arara do Igarapé Humaitá', 'Rio Téa',
       'Aningal', 'Igarapé Capana', 'Barreira da Missão', 'Jurubaxi-téa',
       'Sararé', 'Manoa/Pium', 'Pacaas Novas', 'Nhamundá/Mapuera',
       'Lago do Beruri', 'Vui-Uata-In', 'Portal do Encantado', 'Rio Biá',
       'Uaçá', 'Parana do Boa Boa', 'Betania', 'Kaxuyana-Tunayana',
       'São Sebastião', 'Baía dos Guató', 'Diahui', 'Porquinhos',
       'Médio Rio Negro I', 'Raposa Serra do Sol', 'Acimã',
       'São Marcos - RR', 'Jaminawa Arara do Rio Bagé', 'Macarrão',
       'Rio Manicoré', 'Tukuna Porto Espiritual', 'Massaco',
       'Tikuna de Santo Antonio', 'Tembé', 'Lago do Correio', 'Rodeador',
       'Tikúna de Feijoal', 'Turé/Mariquita', 'Lagoa Comprida', 'Truaru',
       'Rio Paru DEste', 'Raimundão', 'Anta', 'Sucuba', 'Sururuá',
       'Uati-Paraná', 'Miratu', 'Tuwa Apekuokawera', 'Araçá',
       'Paraná do Arauató', 'Padre', 'Maraã Urubaxi', 'Galibi',
       'Kampa e Isolados do Rio Envira', 'Paumari do Cuniua', 'Boqueirão',
       'Camadeni', 'Balaio', 'Kampa do Igarapé Primavera', 'Patauá',
       'Catipari/Mamoria', 'Batelão', 'Tukuna Umariaçu',
       'Parque do Tumucumaque', 'Rio Formoso', 'Paumari do Rio Ituxi',
       'Governador', 'Cobra Grande', 'Paumari do Lago Manissuã',
       'Kumaru do Lago Ualá', 'Torá', 'Pium', 'São Francisco do Canimari',
       'Zoe', 'Miguel/Josefa', 'Caru', 'São Leopoldo', 'Urucu/Juruá',
       'Rio Apaporis', 'Rio Jumas', 'Areões', 'Maracaxi', 'Barro Alto',
       'Igarapé Grande', 'Serra da Moça', 'Pimentel Barbosa',
       'Pirineus de Souza', 'Matintin', 'Tapirapé/Karajá', 'Pequizal',
       'Seruini/Mariene', 'Kaxinawá Ashaninka do Rio Breu',
       'Fortaleza do Castanho', 'Maró', 'Turé/Mariquita II',
       'Lago Aiapua', 'Pequizal do Naruvôtu', 'Guanabara', 'Arary',
       'Itixi Mitari', 'Jabuti', 'Kulina do Rio Envira', 'Krahó-Kanela',
       'Tadarimana', 'Inawebohona', 'Mangueira', 'Xambioá', 'Mapari',
       'Santa Inez', 'Parque do Araguaia', 'São Pedro do Sepatini',
       'Japuira', 'Lago Capanã', 'Paumari do Lago Paricá', 'Ubawawe',
       'Rio Pindaré', 'Lago Jauari', 'Cajuhiri Atravessado',
       'Prosperidade', 'Fortaleza do Patauá', 'Uty-Xunaty', 'Lauro Sodré',
       'Utaria Wyhyna/Iròdu Iràna', 'Kararaô', 'Alto Tarauacá',
       'Bragança-Marituba', 'Jatuarana', 'Acapuri de Cima', 'Cajueiro',
       'Setemã', 'Porto Praia', 'Igarapé Taboca do Alto Tarauacá',
       'Tanaru ( restrição de uso )', 'Uneiuxi', 'Maraitá',
       'Juruna do Km 17', 'Taihantesu', 'Muriru', 'Irantxe',
       'Paukalirajausu', 'Meria', 'Tirecatinga', 'Krenrehé'], dtype=object)

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/IDP/Dataset/Pasta1.csv', sep = ';', error_bad_lines=False)

In [ ]:
df2

                    Nome        Jurisdição Legal Área (ha) População
0        Acapuri de Cima          Amazônia Legal     19400       237
1                  Acimã          Amazônia Legal     40686        89
2                  Aconã  Domínio Mata Atlântica       268        78
3            Água Grande  Domínio Mata Atlântica       165        53
4             Água Limpa                  Outros         -      2888
..                   ...                     ...       ...       ...
721   Yvyporã Laranjinha  Domínio Mata Atlântica      1238       184
722  YwyPorã/Posto Velho                  Outros         -         -
723                 Zo´é          Amazônia Legal    668565       315
724                 Zoró          Amazônia Legal    355789       711
725              Zuruahã          Amazônia Legal    239070       156

[726 rows x 4 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726 entries, 0 to 725
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nome              726 non-null    object
 1   Jurisdição Legal  717 non-null    object
 2   Área (ha)         726 non-null    object
 3   População         726 non-null    object
dtypes: object(4)
memory usage: 22.8+ KB

In [ ]:
df2['Área (ha)'] = df2['Área (ha)'].apply(lambda x: x.replace('-', 'NaN'))

In [ ]:
df2

                    Nome        Jurisdição Legal Área (ha) População
0        Acapuri de Cima          Amazônia Legal     19400       237
1                  Acimã          Amazônia Legal     40686        89
2                  Aconã  Domínio Mata Atlântica       268        78
3            Água Grande  Domínio Mata Atlântica       165        53
4             Água Limpa                  Outros       NaN      2888
..                   ...                     ...       ...       ...
721   Yvyporã Laranjinha  Domínio Mata Atlântica      1238       184
722  YwyPorã/Posto Velho                  Outros       NaN         -
723                 Zo´é          Amazônia Legal    668565       315
724                 Zoró          Amazônia Legal    355789       711
725              Zuruahã          Amazônia Legal    239070       156

[726 rows x 4 columns]

In [ ]:
df2['Área (ha)'] = df2['Área (ha)'].astype(int)

ValueError: ignored

In [ ]:
df2['Área (ha)'] = df2['Área (ha)'].apply(pd.to_numeric, errors='coerce')

In [ ]:
df2

                    Nome        Jurisdição Legal  Área (ha) População
0        Acapuri de Cima          Amazônia Legal    19400.0       237
1                  Acimã          Amazônia Legal    40686.0        89
2                  Aconã  Domínio Mata Atlântica      268.0        78
3            Água Grande  Domínio Mata Atlântica      165.0        53
4             Água Limpa                  Outros        NaN      2888
..                   ...                     ...        ...       ...
721   Yvyporã Laranjinha  Domínio Mata Atlântica     1238.0       184
722  YwyPorã/Posto Velho                  Outros        NaN         -
723                 Zo´é          Amazônia Legal   668565.0       315
724                 Zoró          Amazônia Legal   355789.0       711
725              Zuruahã          Amazônia Legal   239070.0       156

[726 rows x 4 columns]

In [ ]:
df = df.rename(columns={'indi': 'nome'})

In [ ]:
df

      year  area                             nome
0     2021  0.70            Kanamari do Rio Juruá
1     2021  2.18                     Andirá-Marau
2     2021  0.00      Apurinã do Igarapé São João
3     2021  0.43                         Pinatuba
4     2021  0.21                        Mãe Maria
...    ...   ...                              ...
2523  2008  0.09       Jarawara/Jamamadi/Kanamati
2524  2008  1.34                        Rio Urubu
2525  2008  1.21                  Vale do Guaporé
2526  2008  2.80  Porquinhos dos Canela-Apãnjekra
2527  2008  0.08                       Trincheira

[2528 rows x 3 columns]

In [ ]:
df1 = df.groupby(by='nome').sum().reset_index()

In [ ]:
df1.rename(columns={'nome':'Nome'}, inplace=True)

In [ ]:
result = pd.merge(df1, df2, on='Nome')

In [ ]:
df2[df2['Jurisdição Legal'] == 'Amazônia Legal'].head(25)

                            Nome Jurisdição Legal  Área (ha) População
0                Acapuri de Cima   Amazônia Legal    19400.0       237
1                          Acimã   Amazônia Legal    40686.0        89
5               Água Preta/Inari   Amazônia Legal   139763.0       349
7              Aldeia Beija Flor   Amazônia Legal       41.0       574
14                Alto Rio Guamá   Amazônia Legal   279897.0      1727
15                Alto Rio Negro   Amazônia Legal  7999380.0     26046
16                Alto Rio Purus   Amazônia Legal   263129.0      1871
17                 Alto Sepatini   Amazônia Legal    26095.0        75
18                 Alto Tarauacá   Amazônia Legal   142619.0         -
19                  Alto Turiaçu   Amazônia Legal   530525.0      1500
22                        Anambé   Amazônia Legal     7883.0       161
23                        Ananás   Amazônia Legal     1769.0         9
24                         Anaro   Amazônia Legal    30473.0        42
25                  Andirá-Marau   Amazônia Legal   788528.0     13350
26                       Aningal   Amazônia Legal     7627.0       245
27                  Aningalzinho   Amazônia Legal        NaN         -
28                          Anta   Amazônia Legal     3173.0       183
29   Apiaká do Pontal e Isolados   Amazônia Legal   982324.0       262
30                 Apiaká-Kayabi   Amazônia Legal   109245.0       885
31                    Apinajé II   Amazônia Legal        NaN         -
32                       Apinayé   Amazônia Legal   141904.0      2342
33                       Apipica   Amazônia Legal      652.0        86
35     Apurinã do Igarapé Mucuim   Amazônia Legal    73350.0        93
36   Apurinã do Igarapé São João   Amazônia Legal    18232.0       142
37  Apurinã do Igarapé Tauamirim   Amazônia Legal    96456.0       295

In [ ]:
df1.head(25)

                              Nome   year    area
0                  Acapuri de Cima   2010    0.23
1                            Acimã   4036    0.20
2                   Alto Rio Guamá  34237  101.67
3                   Alto Rio Negro  26182   25.74
4                   Alto Rio Purus  26188    3.12
5                    Alto Sepatini   4034    0.28
6                    Alto Tarauacá   2010    0.05
7                     Alto Turiaçu  28203   78.07
8                           Anambé  16100    1.28
9                     Andirá-Marau  54391   43.74
10                         Aningal  14108    0.91
11                            Anta   4032    0.16
12                   Apiaka/Kayabi  18119    7.24
13     Apiaká do Pontal e Isolados   8062    1.32
14                         Apinayé  20134    1.12
15       Apurinã Igarapé Tauamirim   2021    0.14
16           Apurinã Km 124 BR-317  28203   11.71
17       Apurinã do Igarapé Mucuim   6040    0.44
18     Apurinã do Igarapé São João   4039    0.07
19                       Apyterewa  28203  353.68
20                           Arara  26189    4.94
21  Arara da Volta Grande do Xingu  22173    7.85
22        Arara do Igarapé Humaitá  24167    2.89
23             Arara do Rio Amônia  16115    2.45
24             Arara do Rio Branco  24174    8.70

In [ ]:
result.head(25)

                              Nome   year  ...  Área (ha) População
0                  Acapuri de Cima   2010  ...    19400.0       237
1                            Acimã   4036  ...    40686.0        89
2                   Alto Rio Guamá  34237  ...   279897.0      1727
3                   Alto Rio Negro  26182  ...  7999380.0     26046
4                   Alto Rio Purus  26188  ...   263129.0      1871
5                    Alto Sepatini   4034  ...    26095.0        75
6                    Alto Tarauacá   2010  ...   142619.0         -
7                     Alto Turiaçu  28203  ...   530525.0      1500
8                           Anambé  16100  ...     7883.0       161
9                     Andirá-Marau  54391  ...   788528.0     13350
10                         Aningal  14108  ...     7627.0       245
11                            Anta   4032  ...     3173.0       183
12     Apiaká do Pontal e Isolados   8062  ...   982324.0       262
13                         Apinayé  20134  ...   141904.0      2342
14       Apurinã do Igarapé Mucuim   6040  ...    73350.0        93
15     Apurinã do Igarapé São João   4039  ...    18232.0       142
16                       Apyterewa  28203  ...   773470.0       729
17                           Arara  26189  ...   274010.0       298
18  Arara da Volta Grande do Xingu  22173  ...    25524.0       143
19             Arara do Rio Amônia  16115  ...    20764.0       434
20             Arara do Rio Branco  24174  ...   114842.0       249
21                           Arary   6036  ...    40548.0       200
22                           Araçá  20133  ...    50018.0      2016
23                          Areões  16097  ...   218515.0      1342
24                        Aripuanã  28203  ...   750649.0       352

[25 rows x 6 columns]

In [ ]:
lista1 = []

for i in terras_indigenas:
  if i in result['Nome']:
    continue
  else:
    lista1.append(i)

In [ ]:
len(lista1)

315

In [ ]:
!pip install unidecode

from unidecode import unidecode

Collecting unidecode
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 9.4 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.3.2

In [ ]:
df1['normalizado'] = df1.Nome.str.normalize('NFKD')

In [ ]:
df1

                 Nome   year    area        normalizado
0     Acapuri de Cima   2010    0.23    Acapuri de Cima
1               Acimã   4036    0.20             Acimã
2      Alto Rio Guamá  34237  101.67    Alto Rio Guamá
3      Alto Rio Negro  26182   25.74     Alto Rio Negro
4      Alto Rio Purus  26188    3.12     Alto Rio Purus
..                ...    ...     ...                ...
310              Zoró  28203   75.31              Zoró
311           Zuruahã  20143    3.21           Zuruahã
312  Água Preta/Inari  20154    1.25  Água Preta/Inari
313           Évare I  24170   11.94           Évare I
314          Évare II  24174    3.85          Évare II

[315 rows x 4 columns]

In [ ]:
def simplify(text):
	import unicodedata
	try:
		text = unicode(text, 'utf-8')
	except NameError:
		pass
	text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore').decode("utf-8")
	return str(text)

In [ ]:
df1['normalize'] = df1.Nome.apply(simplify)

In [ ]:
df1.normalize = df1.normalize.apply(lambda x: x.strip().lower())

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–", " "]
for char in spec_chars:
    df1.normalize = df1.normalize.str.replace(char, '')

In [ ]:
df1

                 Nome   year    area        normalizado       normalize
0     Acapuri de Cima   2010    0.23    Acapuri de Cima   acapuridecima
1               Acimã   4036    0.20             Acimã           acima
2      Alto Rio Guamá  34237  101.67    Alto Rio Guamá    altorioguama
3      Alto Rio Negro  26182   25.74     Alto Rio Negro    altorionegro
4      Alto Rio Purus  26188    3.12     Alto Rio Purus    altoriopurus
..                ...    ...     ...                ...             ...
310              Zoró  28203   75.31              Zoró            zoro
311           Zuruahã  20143    3.21           Zuruahã         zuruaha
312  Água Preta/Inari  20154    1.25  Água Preta/Inari  aguapretainari
313           Évare I  24170   11.94           Évare I          evarei
314          Évare II  24174    3.85          Évare II         evareii

[315 rows x 5 columns]

In [ ]:
df1

                 Nome   year    area        normalizado         normalize
0     Acapuri de Cima   2010    0.23    Acapuri de Cima   acapuri de cima
1               Acimã   4036    0.20             Acimã             acima
2      Alto Rio Guamá  34237  101.67    Alto Rio Guamá    alto rio guama
3      Alto Rio Negro  26182   25.74     Alto Rio Negro    alto rio negro
4      Alto Rio Purus  26188    3.12     Alto Rio Purus    alto rio purus
..                ...    ...     ...                ...               ...
310              Zoró  28203   75.31              Zoró              zoro
311           Zuruahã  20143    3.21           Zuruahã           zuruaha
312  Água Preta/Inari  20154    1.25  Água Preta/Inari  agua preta/inari
313           Évare I  24170   11.94           Évare I           evare i
314          Évare II  24174    3.85          Évare II          evare ii

[315 rows x 5 columns]

In [ ]:
df2

                    Nome        Jurisdição Legal  Área (ha) População
0        Acapuri de Cima          Amazônia Legal    19400.0       237
1                  Acimã          Amazônia Legal    40686.0        89
2                  Aconã  Domínio Mata Atlântica      268.0        78
3            Água Grande  Domínio Mata Atlântica      165.0        53
4             Água Limpa                  Outros        NaN      2888
..                   ...                     ...        ...       ...
721   Yvyporã Laranjinha  Domínio Mata Atlântica     1238.0       184
722  YwyPorã/Posto Velho                  Outros        NaN         -
723                 Zo´é          Amazônia Legal   668565.0       315
724                 Zoró          Amazônia Legal   355789.0       711
725              Zuruahã          Amazônia Legal   239070.0       156

[726 rows x 4 columns]

In [ ]:
df2['normalize'] = df2.Nome.apply(simplify)

In [ ]:
df2['normalize'] = df2['normalize'].apply(lambda x: x.strip().lower())

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–", " "]
for char in spec_chars:
    df2['normalize'] = df2['normalize'].str.replace(char, '')

In [ ]:
df2

                    Nome        Jurisdição Legal  ...  População          normalize
0        Acapuri de Cima          Amazônia Legal  ...        237      acapuridecima
1                  Acimã          Amazônia Legal  ...         89              acima
2                  Aconã  Domínio Mata Atlântica  ...         78              acona
3            Água Grande  Domínio Mata Atlântica  ...         53         aguagrande
4             Água Limpa                  Outros  ...       2888          agualimpa
..                   ...                     ...  ...        ...                ...
721   Yvyporã Laranjinha  Domínio Mata Atlântica  ...        184  yvyporalaranjinha
722  YwyPorã/Posto Velho                  Outros  ...          -  ywyporapostovelho
723                 Zo´é          Amazônia Legal  ...        315                zoe
724                 Zoró          Amazônia Legal  ...        711               zoro
725              Zuruahã          Amazônia Legal  ...        156            zuruaha

[726 rows x 5 columns]

In [ ]:
result = pd.merge(df1, df2, on='normalize')

In [ ]:
result

               Nome_x   year    area  ... Jurisdição Legal  Área (ha) População
0     Acapuri de Cima   2010    0.23  ...   Amazônia Legal    19400.0       237
1               Acimã   4036    0.20  ...   Amazônia Legal    40686.0        89
2      Alto Rio Guamá  34237  101.67  ...   Amazônia Legal   279897.0      1727
3      Alto Rio Negro  26182   25.74  ...   Amazônia Legal  7999380.0     26046
4      Alto Rio Purus  26188    3.12  ...   Amazônia Legal   263129.0      1871
..                ...    ...     ...  ...              ...        ...       ...
281              Zoró  28203   75.31  ...   Amazônia Legal   355789.0       711
282           Zuruahã  20143    3.21  ...   Amazônia Legal   239070.0       156
283  Água Preta/Inari  20154    1.25  ...   Amazônia Legal   139763.0       349
284           Évare I  24170   11.94  ...   Amazônia Legal   548177.0     18086
285          Évare II  24174    3.85  ...   Amazônia Legal   176205.0      2347

[286 rows x 9 columns]

In [ ]:
result.drop(['normalizado', 'normalize', 'Nome_y'], axis=1, inplace=True)

In [ ]:
result

               Nome_x   year    area Jurisdição Legal  Área (ha) População
0     Acapuri de Cima   2010    0.23   Amazônia Legal    19400.0       237
1               Acimã   4036    0.20   Amazônia Legal    40686.0        89
2      Alto Rio Guamá  34237  101.67   Amazônia Legal   279897.0      1727
3      Alto Rio Negro  26182   25.74   Amazônia Legal  7999380.0     26046
4      Alto Rio Purus  26188    3.12   Amazônia Legal   263129.0      1871
..                ...    ...     ...              ...        ...       ...
281              Zoró  28203   75.31   Amazônia Legal   355789.0       711
282           Zuruahã  20143    3.21   Amazônia Legal   239070.0       156
283  Água Preta/Inari  20154    1.25   Amazônia Legal   139763.0       349
284           Évare I  24170   11.94   Amazônia Legal   548177.0     18086
285          Évare II  24174    3.85   Amazônia Legal   176205.0      2347

[286 rows x 6 columns]

In [ ]:
df1.rename(columns={'Nome':'Nome_x'}).Nome

AttributeError: ignored

In [ ]:
result.Nome_x.compare(df1.rename(columns={'Nome':'Nome_x'}).Nome_x, keep_shape=True)

ValueError: ignored

In [ ]:
result2 = pd.merge(df1, df2, on='normalize')

In [ ]:
result2

               Nome_x   year    area  ... Jurisdição Legal  Área (ha) População
0     Acapuri de Cima   2010    0.23  ...   Amazônia Legal    19400.0       237
1               Acimã   4036    0.20  ...   Amazônia Legal    40686.0        89
2      Alto Rio Guamá  34237  101.67  ...   Amazônia Legal   279897.0      1727
3      Alto Rio Negro  26182   25.74  ...   Amazônia Legal  7999380.0     26046
4      Alto Rio Purus  26188    3.12  ...   Amazônia Legal   263129.0      1871
..                ...    ...     ...  ...              ...        ...       ...
281              Zoró  28203   75.31  ...   Amazônia Legal   355789.0       711
282           Zuruahã  20143    3.21  ...   Amazônia Legal   239070.0       156
283  Água Preta/Inari  20154    1.25  ...   Amazônia Legal   139763.0       349
284           Évare I  24170   11.94  ...   Amazônia Legal   548177.0     18086
285          Évare II  24174    3.85  ...   Amazônia Legal   176205.0      2347

[286 rows x 9 columns]

In [ ]:
faltantes = []

for i in list(df1.Nome):
  if i not in (list(result2.Nome_x)):
    faltantes.append(i)

In [ ]:
len(faltantes)

30

In [ ]:
faltantes

['Apurinã Igarapé Tauamirim',
 'Arara do Igarapé Humaitá',
 'Cana Brava/Guajajara',
 'Ituna/Itatá (restrição de uso)',
 'Jabuti',
 'Jacareúba/Katauixi (restrição uso)',
 'Jaminaua/Envira',
 'Jarawara/Jamamadi/Kanamati',
 'Kampa do Rio Amônia',
 'Kaxinawá da Praia do Carapanã',
 'Kaxinawá do Baixo Rio Jordão',
 'Kulina Igarapé do Pau',
 'Lago do Beruri',
 'Maracaxi',
 'Munduruku',
 'Nambikwara',
 'Parque do Araguaia',
 'Parque do Aripuanã',
 'Parque do Tumucumaque',
 'Parque do Xingu',
 'Piripkura ( restrição de uso )',
 'Porquinhos dos Canela-Apãnjekra',
 'Santa Inez',
 'São Marcos - RR',
 'Tanaru ( restrição de uso )',
 'Tikúna de Feijoal',
 'Tukuna Porto Espiritual',
 'Uaçá',
 'Uty-Xunaty',
 'Xikrin do Rio Catete']

In [ ]:
df2.head(25)

                                              Nome  ...                                       normalize
0                                  Acapuri de Cima  ...                                 acapuri de cima
1                                            Acimã  ...                                           acima
2                                            Aconã  ...                                           acona
3                                      Água Grande  ...                                     agua grande
4                                       Água Limpa  ...                                      agua limpa
5                                 Água Preta/Inari  ...                                agua preta/inari
6                                      Águas Belas  ...                                     aguas belas
7                                Aldeia Beija Flor  ...                               aldeia beija flor
8                                     Aldeia Kondá  ...                                    aldeia konda
9                               Aldeia Limão Verde  ...                              aldeia limao verde
10                   Aldeia Renascer (Ywyty Guasu)  ...                   aldeia renascer (ywyty guasu)
11  Aldeia Serra do Couro/Aldeia Serra do Cachimbo  ...  aldeia serra do couro/aldeia serra do cachimbo
12                                    Aldeia Velha  ...                                    aldeia velha
13                                        Aldeinha  ...                                        aldeinha
14                                  Alto Rio Guamá  ...                                  alto rio guama
15                                  Alto Rio Negro  ...                                  alto rio negro
16                                  Alto Rio Purus  ...                                  alto rio purus
17                                   Alto Sepatini  ...                                   alto sepatini
18                                   Alto Tarauacá  ...                                   alto tarauaca
19                                    Alto Turiaçu  ...                                    alto turiacu
20                                         Amambai  ...                                         amambai
21                                       Amba Porã  ...                                       amba pora
22                                          Anambé  ...                                          anambe
23                                          Ananás  ...                                          ananas
24                                           Anaro  ...                                           anaro

[25 rows x 5 columns]

In [3]:
import plotly.graph_objects as go

In [13]:
label = ["Coal", "Gas", "Hydro", "Nuclear", "Solar & Wind", "Oil","Total Electricity generated"]  #total nodes involved in the graph

#creating a sankey diagram using plotly
fig = go.Figure(data=[go.Sankey(       
    node = dict(            #editing properties of the node
      thickness = 15,
      line = dict(color = "black"),
      label = ["Coal", "Gas", "Hydro", "Nuclear", "Solar & Wind", "Oil","Total Electricity generated"], #total nodes
    ),
    #editing properties of the connecting link
    link = dict(               
      source = [0,1,2,3,4,5],  #source nodes
      target = [6, 6, 6, 6, 6, 6],   #target node
      value = [10146, 6141, 5073, 2670, 1869, 801,26700],  #value of the links
      color = '#eee0e5'
  ))])

#setting figure title and font style
fig.update_layout(title_text="Sources of electricity genration in 2018", font=dict(size = 12, color = 'maroon'),paper_bgcolor='AliceBlue')
fig.show()