<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_I/blob/main/Trabalho_Final_Big_Data_e_Setor_P%C3%BAblico_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# intalando as bibliotecas necessárias

!pip install statsmodels
!pip install linearmodels
!pip install scipy

from IPython.display import clear_output 

clear_output()

In [5]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
import matplotlib as mpl
from IPython.display import clear_output

In [6]:
# módulos de teste

from statsmodels.formula.api import ols
from statsmodels.stats.diagnostic import het_breuschpagan, linear_reset
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.stattools import durbin_watson
from patsy import dmatrices

In [10]:
# lendo os dados e criando o DataFrame

df = pd.read_stata('/content/drive/MyDrive/IDP/Dataset/evaluation.dta')

In [11]:
df

       locality_identifier  household_identifier  ...  hospital_distance  hospital
0                     26.0                   5.0  ...         124.819966       0.0
1                     26.0                   5.0  ...         124.819966       0.0
2                     26.0                  11.0  ...         124.819966       0.0
3                     26.0                  11.0  ...         124.819966       1.0
4                     26.0                  13.0  ...         124.819966       1.0
...                    ...                   ...  ...                ...       ...
19822                 35.0               15738.0  ...         162.748811       NaN
19823                 40.0               15769.0  ...         114.763392       NaN
19824                 40.0               15769.0  ...         114.763392       NaN
19825                 40.0               15778.0  ...         114.763392       NaN
19826                 40.0               15778.0  ...         114.763392       NaN

[19827 rows x 22 columns]